/* =============================================================================
Component - Text input
============================================================================= */

@use 'styles/base/variables' as *;

.input-component {
  position: relative;
  margin-bottom: $gutterE * 1.75;

  &.error {
    textarea {
      border-color: var(--error);
      color: var(--error);

      &:focus {
        border-color: var(--error);
      }
    }
  }

  label {
    margin: 0;
    padding: 0;
    display: block;
    color: var(--brand-color-1);
    font-size: 0.8571rem;
    font-weight: 400;
    text-align: left;
    padding-top: 0.6rem;
  }

  textarea {
    width: 100%;
    padding: 0.75rem;
    outline: none;
    border: solid 1px var(--border-color);
    border-radius: $border-radius;
    color: var(--brand-color-1);
    background-color: var(--white);
    font-size: 1rem;
    font-family: $font-family;
    font-weight: normal;
    -webkit-appearance: none;
    color: var(--text-color);
    resize: vertical;
    display: block;

    &:focus {
      border-color: var(--brand-color-1);
    }

    @media #{$phone} {
      font-size: 16px;
    }

    &::placeholder {
      color: var(--neutral-color);
    }

    &:read-only {
      background-color: var(--border-color);
      color: var(--dark-grey);
    }
  }
}
