/* =============================================================================
Component - Error Message
============================================================================= */
@use 'styles/base/variables' as *;

.error-message {
  color: var(--error);
  margin: -1rem 0 1rem 2px;
  font-weight: 500;
  font-size: 0.8571rem;
}
