.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: var(--gray-1);
  position: relative;
  
  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.admin-layout {
  :global(.dark) & {
    h1, h2, h3, h4, h5, h6,
    :global(.rt-Heading) {
      color: var(--gray-12) !important;
    }
  }
}

