.button {
  background: none;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;

  .main.isLoading {
    opacity: 0;
  }

  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transform: scale(0.8);
  }

  .success {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 18px;
      width: 18px;
    }
  }

  .main.isSuccess {
    opacity: 0;
  }

  &:disabled {
    cursor: initial;
  }
}
