/* =============================================================================
Variables
============================================================================= */
// Import this file into css modules in the components folder

/* General
=================================================== */
$gutter: 16px;
$gutterR: 1rem;
$gutterE: 1em;
$border-radius: 12px;
$container-width: 1280px;
$container-width-inner: 800px;
$transition: all 0.25s ease-in-out;
$box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
$box-shadow-light: 0 2px 7px 0 rgba(40, 40, 40, 0.05);
$drop-shadow: drop-shadow($box-shadow);

/* Typography
=================================================== */
$font-family: 'Helvetica', arial, sans-serif;
$line-height: 1.6;
$font-size: 16px;

/* Colors
=================================================== */
$colors: (
  greens: (
    default: #22dd8f,
    800: #0b4a30,
    700: #137b4f,
    600: #1bac6f,
    500: #22dd8f,
    400: #53e4a8,
    300: #84ecc1,
    200: #b5f4da,
    100: #e6fbf3,
    50: #f0fff8,
  ),
  blues: (
    default: #1a84ff,
    900: #000c1a,
    800: #00234d,
    700: #003b80,
    600: #006ae6,
    500: #1a84ff,
    400: #4d9fff,
    300: #b3d6ff,
    200: #c9e2ff,
    100: #e5f1ff,
    50: #f2f8ff,
  ),
  greys: (
    default: #b5c4c9,
    900: #0b0e0f,
    800: #36454a,
    700: #617c84,
    600: #7b959e,
    500: #b5c4c9,
    350: #d3dcdf,
    300: #e3eaed,
    100: #f0f3f4,
    50: #f8f9fa,
  ),
  nuetrals: (
    default: #eaf0ed,
    0: #ffffff,
    100: #f8faf9,
    200: #f0f5f2,
    300: #eaf0ed,
    400: #e3ece8,
  ),
  yellows: (
    default: #fea801,
    500: #fea801,
    400: #fec14a,
    300: #ffda92,
    200: #fff3db,
    100: #fffbf3,
  ),
  reds: (
    default: #ff4218,
    500: #ff4218,
    400: #ff6a49,
    300: #ff6a49,
    100: #ffe2de,
    50: #fff0ee,
  ),
);

/* Color Functions
=================================================== */
@function color($base, $shade: default) {
  $color: map-get(map-get($colors, $base), $shade);
  @return $color;
}

/* Additional colors
=================================================== */

$white: color(nuetrals, 100);
$black: color(greys, 900);

$body-color: color(greys, 100);
$border-color: color(greys, 100);
$border-color-alt: color(greys, 200);
$text-color: color(blues, 900);
$text-color-alt: color(greys, 900);
$heading-color: color(blues, 900);

$success: color(greens);
$warning: color(yellows);
$error: color(reds);

/* Media Queries / layout
=================================================== */
$desktop-extra-large-min-width: 1600px;
$desktop-large-min-width: 1400px;
$desktop-max-width: 1200px;
$desktop-min-width: 1025px;
$tablet-max-width: 1024px;
$tablet-min-width: 768px;
$phone-max-width: 767px;
$phone-med-width: 650px;
$phone-lrg-width: 376px;
$phone-min-width: 320px;
$desktop-large: 'screen and (min-width: $desktop-large-min-width})';
$desktop: 'screen and (min-width: #{$desktop-min-width})';
$tablet-desktop: 'screen and (min-width: #{$tablet-min-width})';
$tablet-landscape-desktop: 'screen and (min-width: #{$tablet-max-width})';
$tablet: 'screen and (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width})';
$phone-tablet: 'screen and (max-width: #{$tablet-max-width})';
$phone: 'screen and (max-width: #{$phone-max-width})';
$phone-med-tablet: 'screen and (min-width: #{$phone-med-width}) and (max-width: #{$tablet-max-width})';
$phone-landscape: 'screen and (max-width: #{$phone-max-width}) and (orientation: portrait)';
$phone-large: 'screen and (min-width: #{$phone-lrg-width}) and (max-width: #{$phone-max-width})';
$phone-small: 'screen and (max-width: #{$phone-min-width})';
$phone-med: 'screen and (max-width: #{$phone-med-width})';
$phone-to-desktop-max: 'screen and (max-width: $desktop-max-width})';
$phone-to-desktop-max: 'screen and (max-width: $desktop-max-width})';
