.admin {
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.main {
  padding: 2em;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
  a {
    cursor: pointer;
    text-decoration: none;
    color: #aaa;
    padding: 8px 12px;
    min-width: 40px;
    border-radius: 8px;
    transition: background 200ms;
    text-align: center;

    &.paginationActive {
      color: black;
      background-color: #f5f5f5;
    }

    &:hover {
      background-color: #f5f5f5;
    }

    svg {
      margin-bottom: -2px;
    }
  }
  div {
    display: flex;
    align-items: flex-end;
    span {
      color: #aaa;
      padding-bottom: 8px;
    }
  }
}

.filters {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;

  button {
    background: none;
    border: 1px solid #ddd;
    outline: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;

    &.clear {
      border: none;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  input {
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none;
  }

  .filterActive {
    border-color: #8b8bff;
    background: #f2f2ff;
  }

}


.formError {
  color: red;
}

.fieldError {
  color: red;
  font-size: 14px;
}

.input {
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 5px;
}

.label {
  font-size: 14px;
}

.submit {
  padding: 6px 10px;
  outline: none;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}
