/* =============================================================================
Component - Progress / Loading bar
============================================================================= */
@use 'styles/base/variables' as *;

.root {
  position: relative;
  overflow: hidden;
  background: var(--neutral-color);
  border-radius: 99999px;
  width: 100%;
  height: 1.5rem;
  transform: translateZ(0);
}

.indicator {
  background-color: var(--brand-color-2);
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}
